* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.navigation{
    background-color: darkblue;
    text-align: center;
}
.navigation-link{
    display: inline-block;
    vertical-align: middle;
    color: aliceblue;
    font-family: sans-serif;
}
.navigation-img{
    height:40px;
}
.green-btn{
    padding: 10px 15px;
    background-color: mediumaquamarine;
    border-radius: 5px;
}
.slogan{
    background:url("https://ibatech.az/wp-content/uploads/2019/10/banner.jpg") no-repeat;
    background-size: cover;
    padding: 250px 0px 150px;
    text-align: center;
    color: aliceblue;
}
.slogan-btn{
    margin-top: 20px;
    display: inline-block;
    color: aliceblue;
}
.slogan-text {
    font-size: 50px;
}